.social-media-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.social-media-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #153446;
}
.social-media-navlink {
  display: contents;
}
.social-media-image {
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.social-media-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.social-media-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.social-media-text {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.social-media-navlink01 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-media-navlink02 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-media-navlink03 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-media-navlink04 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-media-navlink05 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-media-navlink06 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-media-navlink07 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.social-media-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.social-media-register {
  color: var(--dl-color-gray-white);
  text-decoration: none;
  background-color: #102632;
}
.social-media-burger-menu {
  display: none;
}
.social-media-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.social-media-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.social-media-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.social-media-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.social-media-navlink08 {
  display: contents;
}
.social-media-logo {
  height: 2rem;
  text-decoration: none;
}
.social-media-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.social-media-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.social-media-navlink09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-navlink10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-navlink11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-navlink14 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-navlink15 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-navlink16 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.social-media-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.social-media-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
@media(max-width: 767px) {
  .social-media-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .social-media-desktop-menu {
    display: none;
  }
  .social-media-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media-navlink09 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-navlink10 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-navlink11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-navlink12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-navlink13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-navlink14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-navlink15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .social-media-navlink16 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .social-media-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .social-media-mobile-menu {
    height: 404px;
    padding: 16px;
  }
}
